<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <title>BlockHub</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <meta name="description" content="BlockHub is a next-generation decentralized digital distribution platform"/>
    <meta name="keywords" content="blockhub, hyperbridge, blockchain, cryptocurrency, game, indie, developer"/>

    <meta property="og:title" content="BlockHub"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://blockhub.gg"/>
    <meta property="og:image" content="/static/img/logo.png"/>
    <meta property="og:image:width" content="470"/>
    <meta property="og:image:height" content="246"/>
    <meta property="og:site_name" content="BlockHub"/>
    <meta property="og:description" content=""/>

    <link rel="icon" type="image/png" sizes="32x32"
          href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16"
          href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png"/>
    <!--[if IE]>
    <link rel="shortcut icon" href="static/img/icons/favicon.ico"><![endif]-->

    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">

    <meta name="theme-color" content="#4DBA87"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="BlockHub"/>
    <meta name="msapplication-TileImage"
          content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png"/>
    <meta name="msapplication-TileColor" content="#000000"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110820930-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-110820930-3');
    </script>

    <link rel="apple-touch-icon"
          href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png"/>
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg"
          color="#4DBA87"/>


    <% for (var chunk of webpack.chunks) {
    for (var file of chunk.files) {
    if (file.match(/\.(js|css)$/)) { %>

    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
          as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>
    <!--Animate css lib-->
    <link rel="stylesheet" href="https://unpkg.com/vue2-animate/dist/vue2-animate.min.css"/>
</head>
<body>

<noscript>
  BlockHub requires JavaScript enabled.
</noscript>

<div id="header-bg"></div>

<div id="app"></div>

<div id="critical-error">
  <p>A critical error occurred. If this doesn't disappear in 1 minute, you will likely need to clear all of your settings.</p><br />
  <p>If you created an account on this computer, you should make sure you have an account file backup.</p>
  <button onClick="window.downloadAccountFile()">Click here to download your account file backup</button><br /><br />
  <button onClick="window.deleteSettings()">Click here to delete the settings on this computer.</button><br />
</div>

<script>
window.downloadAccountFile = function() {
  
}

window.deleteSettings = function() {
  if (window.closeLokiDatabase) {
    window.closeLokiDatabase()
  }
  
  var req = indexedDB.deleteDatabase('LokiCatalog');
  req.onsuccess = function () {
    alert("Deleted settings successfully. The page will now reload.");
    window.location.reload()
  };
  req.onerror = function () {
    alert("ERR 301: Couldn't delete database");
  };
  req.onblocked = function (event) {
    alert("ERR 302: Couldn't delete database due to the operation being blocked.");
  };
}

function isWhiteSpace(coords) {
  var element = document.elementFromPoint(coords.x, coords.y);
  var whitespace = $(document).add('body, html, #app, #header-bg, #critical-error');
  return (whitespace.get().indexOf(element) > -1) ? true : false;
}

function bootChecker() {
  if (document.location.pathname !== '/' || document.location.hash !== '#/') return
  if (typeof($) == undefined) return

  // If any of these randomly chosen coordinates is not a bottom layer element, then assume loading occurred properly
  const isLoaded = !isWhiteSpace({ x: 100, y: 100 }) || !isWhiteSpace({ x: 200, y: 100 }) || !isWhiteSpace({ x: 400, y: 400 })

  if (isLoaded) {
    $('#critical-error').hide()
    return setTimeout(bootChecker, 1 * 1000)
  }

  $('#critical-error').show()
}

setTimeout(bootChecker, 10 * 1000)
</script>

<%= htmlWebpackPlugin.options.serviceWorkerLoader %>

<script>if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}</script>

<!-- IMPORTANT SCRIPTS -->
<script type="text/javascript" src="/static/js/vendors/web3/web3.js"></script>
<script type="text/javascript" src="/static/js/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- END IMPORTANT SCRIPTS -->

<!-- THIS PAGE SCRIPTS ONLY -->
<script type="text/javascript" src="/static/js/vendors/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/static/js/vendors/raty/jquery.raty.js"></script>
<script type="text/javascript" src="/static/js/vendors/summernote/summernote-bs4.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/ionrangeslider/ion.rangeSlider.min.js"></script>
<!-- //END THIS PAGE SCRIPTS ONLY -->

<!-- TEMPLATE SCRIPTS -->
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<!-- END TEMPLATE SCRIPTS -->

<script>if (window.module) module = window.module;</script>

<!-- Start of Async Drift Code -->
<!-- <script>
  "use strict";

  !function () {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
        t.factory = function (e) {
          return function () {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function (e) {
          t[e] = t.factory(e);
        }), t.load = function (t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('4a396xwyt6ek');
</script> -->
<!-- End of Async Drift Code -->
</body>
</html>
