/*------------------------------------------------------------------

    [Personal styles]

    Project:        BlockHub
    Version:        v1.0.0
    Last change:    17/05/18 [Release]

    We recommend you to use this file for your stylesheets.
    
-------------------------------------------------------------------*/


.card {
    border-radius: 5px;
    margin-bottom: 15px;
    h2 {
        color: #fff;
        font-size: 21px;
        text-align: left;
        margin-bottom: 15px;
        font-weight: bold;
        .title-icon {
            float: right;
            vertical-align: text-bottom;
            font-size: 15px;
            margin-top: 6px;
            color: #fff;
            text-decoration: none;
        }
    }
    .card-body {
        padding: 10px;
    }
    &.transparent {
        border: none;
        background: transparent;
    }
}

.card-img-top {
    height: 120px;
    object-fit: cover;
}

a.btn-outline-white {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 24px;
    padding: 0 8px;
    width: auto;
    margin: 5px 10px 3px 0;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background: #fff;
        color: #000;
        text-decoration: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 11px grey;*/
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 3px;
    border: 2px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fbe17d;
}

.page-aside, .page-sidepanel {
    padding: 10px 10px 10px 30px;
    h3 {
        font-size: 30px;
        opacity: 0.4;
    }
}

.page-aside::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border: none;
}

#fixed_panel {
    z-index: 12;
    background: #1C2032;
    border: 0 none;
    border-left: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .fixed-panel__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding-top: 60px;

        > p {
            color: #fff;
        }

        > a {
            display: block;
            margin-left: 10px;
            margin-bottom: 5px;
            font-size: 15px;
            color: #fff;
        }

        h5 {
            font-size: 15px;
        }

        hr {
            border-top: 1px solid #fff !important;
            width: 100%;
            margin: 10px 0;
        }
    }

    body.show-sidebar & {
        right: 0px;
    }
}

.icon {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    float: left;
}

.icon-letter-circle {
    background: #3f87b8;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
}

#backdrop {
    z-index: 11;
    display: none;
    background: rgba(0, 0, 0, 0.5);

    body.show-sidebar & {
        display: block;
    }
}

.page .page__content {
    body.show-sidebar & {
        filter: blur(5px);
    }
}

// .swiper-container {
//     overflow: visible;
// }
